<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<title>КУЛЯТ ИНФО</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="robots" content="index, follow" /> 
    <meta name="Description" content="Новости республики Мордовия и Саранска"/>
    <meta name="keywords" content="новости, мордовия, мокша, эрзя" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="handheld, all" />
 </head>
 <body>
    <div id="page">
        <div class="uzor-left"><span></span></div>
        <div class="uzor-right"><span></span></div>
        <div id="top">
            <div id="logo">
                <a href="/"><img src="/data/site_images/logo.png" alt="logo" /></a>
            </div>
            <div class="soc-icons">
                <img src="/data/site_images/icons.png" alt="" />
            </div>
            <div  class="topics">
                <p>ТЕМЫ:</p>
                <a href="">Самоубийства подростков</a><a href="">Российские морозы</a>
                <a href="">Европа замерзает</a><a href="">Конфликт в сирии</a><a href="">Выборы 2012</a>
                <a href="">Биатлон</a><a href="">Новые беспорядки в Египте</a>
            </div>
            <div class="clr"><span></span></div>
        </div>
        <div id="menu">
            <div class="angle-left"><span></span></div>
            <div class="angle-right"><span></span></div>
            <ul>
                <li><a href="">О проекте</a></li>
                <li><a href="">Карта Мордовии</a></li>
                <li><a href="">Лица Мордовии</a></li>
                <li><a href="">Полезные ссылки</a></li>
                <li><a href="">Форум</a></li>
            </ul>
            <div class="search right">
                <form>
                    <input type="text" />
                    <input type="submit" value="" />
                </form>
            </div>
            <div class="clr"><span></span></div>
        </div>
        <div class="adv">
            <img src="/data/site_images/adv.png" alt="" />
        </div>
        <div id="main">
            <div id="left-menu">
                <div class="block-header left-header">
                    <div class="angle-left"><span></span></div>
                    <p>Газеты мордовии</p>
                </div>
                <ul>
                    <li>
                        <a href=""><span>"Маяк"</span> Ардатовский район</a>
                        <ul>
                            <li><a href="">Редакция газеты</a></li>
                            <li><a href="">Информация о районе</a></li>
                            <li><a href="">Контакты газеты</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>"Маяк"</span> Ардатовский район</a></li>
                </ul>
            </div>
            <div id="content">
            
                <div class="big-block">
                    <div class="big-block-header">
                        <div class="angle-right-red"><span></span></div>
                        <p class="left">Главное</p>
                        <a class="right" href="">все</a>
                    </div>
                    <div class="panel big-panel">
                        <div class="time left">12.02</div>
                        <div class="date left">12.02.2012</div>
                        <div class="view-news right"><a href="">Весь текст</a></div>
                    </div>
                    <div class="block-content">
                        <div class="image-shadow-outside">
                            <div class="image-shadow-inside">
                                <img src="/data/site_images/img.png" />
                            </div>
                        </div>
                        <h3>Д. А. Медведев: «Мордовия развивается!»</h3>
                        <p>В Доме Республики состоялась рабочая встреча Президента России Д. А. Медведева и 
                        Главы Мордовии Н. И. Меркушкина, в ходе которой обсуждена социально-экономическая 
                        ситуация в регионе.</p>
                    </div>
                </div>
            
                <div class="block">
                    <div class="block-header main-header">
                        <p class="left">Главное</p>
                        <a class="right" href="">все</a>
                    </div>
                </div>
                
                <div class="block">
                    <div class="block-header">
                        <p class="left">Главное</p>
                        <a class="right" href="">все</a>
                    </div>
                    <div class="block-content">
                        <div class="image-shadow-outside">
                            <div class="image-shadow-inside">
                                <img src="/data/site_images/default-img.png" />
                            </div>
                        </div>
                        <h3>Повышения цен не будет!</h3>
                        <p>В декабре граждане привыкли пересматривать свои 
                        семейные бюджеты. Причина заключается не только в 
                        предстоящих праздничных расходах, но и в 
                        традиционно новых платежах за коммунальные услуги.</p>
                    </div>
                    <div class="panel">
                        <div class="time left">12.02</div>
                        <div class="date left">12.02.2012</div>
                        <div class="view-news right"><a href="">Весь текст</a></div>
                    </div>
                </div>
                
                <div class="block">
                    <div class="block-header">
                        <p class="left">Главное</p>
                        <a class="right" href="">все</a>
                    </div>
                    <div class="block-content">
                        <div class="news-line">
                            <div class="time left">12.02</div>
                            <div class="date left">12.02.2012</div>
                            <div class="clr"><span></span></div>
                            <a href="">Блоггерам и журналистам продемонстрировали саобработку вагонов метро</a>
                        </div>
                        <div class="news-line">
                            <div class="time left">12.02</div>
                            <div class="date left">12.02.2012</div>
                            <div class="clr"><span></span></div>
                            <a href="">Блоггерам и журналистам продемонстрировали саобработку вагонов метро</a>
                        </div>
                        <div class="news-line">
                            <div class="time left">12.02</div>
                            <div class="date left">12.02.2012</div>
                            <div class="clr"><span></span></div>
                            <a href="">Блоггерам и журналистам продемонстрировали саобработку вагонов метро</a>
                        </div>
                        <div class="news-line">
                            <div class="time left">12.02</div>
                            <div class="date left">12.02.2012</div>
                            <div class="clr"><span></span></div>
                            <a href="">Блоггерам и журналистам продемонстрировали саобработку вагонов метро</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"><span></span></div>
        </div>
    </div>
    <div id="footer">
        <div class="menu-bot">
            <a href="">Контакты</a>
            <a href="">Написать</a>
            <a href="">Для наших друзей</a>
            <a href="">Использование материалов</a>
        </div>
        <div class="uzor-bot"><span></span></div>
        <div class="left-foo left"><a href="/"><img src="/data/site_images/logo-bot.png" alt="logo" width="209" /></a></div>
        <div class="mid-foo left">
            <p>&copy; Кулят инфо 2009 - 2012</p>
            <p>e-mail: <a href="mailto:kulyatinfo@yandex.ru">kulyatinfo@yandex.ru</a></p>
            <p>адрес:  Республика Мордовия, гор. Саранск, ул. Солнечная, 17</p>
            <p>телефон: +7 (8342) 32 - 17 - 19</p>
        </div>
        <div class="right-foo left">
            <p>Сайт создан компанией Лонг Кэт 2012</p>
            <a target="_blank" href="http://longcatdev.com"><img src="/data/site_images/cat.png" alt="longcatdev.com" /></a>
        </div>
        <div class="uzor-bot-invert"><span></span></div>
    </div>
 </body>
 </html>